<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                yoFireAuth
            </a>
        </div>
        <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="main">Home</a>
                </li>
                <li ng-repeat="item in nav.menu" ui-sref-active="active">
                    <a ui-sref="{{item.state}}">{{item.title}}</a>
                </li>
                <li ui-sref-active="active" ng-show="nav.isAdmin()">
                    <a ui-sref="admin">Admin</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="login" ng-hide="nav.signedIn()">
                        Login
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="register" ng-hide="nav.signedIn()">
                        Register
                    </a>
                </li>

                <li ng-show="nav.signedIn()" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img ng-src="{{nav.currentUser.profile.gravatar}}" class="img-circle gravatar">
                        &nbsp;
                        {{nav.currentUser.profile.name}}
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-show="nav.changePassOk()" ui-sref-active="active">
                            <a ui-sref="changePass">
                                <span class="glyphicon glyphicon-lock"></span>
                                Change Password
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="main" ng-click="nav.logout()">
                                <span class="glyphicon glyphicon-log-out"></span>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
